// Activity.less
// Styles for Cookspin Activity logs
// -----------------------------------------------------------------

.activity_log {
	overflow: hidden;

	ul {
		margin: 0;
	}

	.empty_activity {
		color: #999;
	}
	
	.activity_date_header {
		font-weight: bold;
		border-bottom: 2px solid #e1e1e1;
		border-top: 0;
		line-height: 20px;
		margin-top: 20px;
		margin-bottom: 10px;
		padding-bottom: 4px;
		padding-left: 6px;
	
		& + .log_item {
			border-top: none;
			padding-top: 0;
		}
	
		&.first {
			margin-top: 0;
		}
	}
	
	.log_item {
		font-size: 1em;
		line-height: 2em;
		min-height: 2em;
		margin: 0;
		border-top: 1px solid #e1e1e1;
		padding-left: 6px;
		padding-top: 4px;
		clear: both;
	
		.log_item_time {
			color: #999;
			display: block;
			float: left;
			min-width: 5em;
		}
	
		a {
			text-decoration: none;
		}
	
		span.deadlog {
			color: black;
		}
	
		// Icons' common styles
		.log_item_icon {
			display: block;
			position: relative;
			top: -3px;
			width: 22px;
			height: 28px;
			margin-right: 10px;
			overflow: hidden;
			float: left;
			background-size: 400px 74px;
			background-image: url('../../../../wp-admin/images/menu-2x.png');
			background-repeat: no-repeat;
		}

		&.log_category_appearance .log_item_icon {
			background-position: -2px -39px;
		}

		&.log_category_comments .log_item_icon {
			background-position: -34px -39px;
		}

		&.log_category_media .log_item_icon {
			background-position: -127px -39px;
		}
		
		&.log_category_posts.log_type_page .log_item_icon {
			background-position: -156px -39px;
		}

		&.log_category_plugins .log_item_icon {
			background-position: -186px -39px;
		}

		&.log_category_tools .log_item_icon {
			background-position: -218px -39px;
		}

		&.log_category_preferences .log_item_icon {
			background-position: -248px -39px;
		}
		
		&.log_category_posts .log_item_icon {
			background-position: -278px -39px;
		}
		
		&.log_category_users .log_item_icon {
			background-position: -312px -39px;
		}
		
		&.log_category_blogs .log_item_icon {
			background-position: -373px -39px;
		}
	}

	#logs_footer {
		margin-top: 14px;
	}
	
	#load_more_logs {
		margin-bottom: 1px;
		text-align: center;
		width: 37px;
		height: 28px;

		&.loading {
			background: url('../../../../wp-admin/images/wpspin_light.gif');
			background-repeat: no-repeat;
			background-position: center center;
			text-indent: -9999px;
		}
	}
}

// Blue admin color scheme
.admin-color-classic {

	.activity_log {

		.log_item {

			.log_item_icon {
				background-image: url('../../../../wp-admin/images/menu-vs-2x.png');
			}
		}
	}
}

// Hidden AJAX submission elements
#last_log,
#log_wrap_tag,
#log_fetch_blog,
#more_logs_nonce,
#log_active_filters {
	display: none;
}

// Filter styles
#cookspin_blog_activity {

	.activity_filter_check {
		display: inline-block;
		padding: 6px 0;
		margin-right: 14px;
	}
	
	h5 {
		margin: 8px 0;
		font-size: 13px;
	}
}