// Activity.less
// Styles for Cookspin Activity logs
// -----------------------------------------------------------------

.activity_log {
	overflow: hidden;

	// Title (only used on profile)
	#activity_header {
		text-shadow: -1px 1px 0 #ffffff;
		color: #888;
		font-size: 22px;
		-webkit-box-shadow: 0 2px 0 rgba(136, 136, 136, 0.7);
		-moz-box-shadow: 0 2px 0 rgba(136, 136, 136, 0.7);
		-ms-box-shadow: 0 2px 0 rgba(136, 136, 136, 0.7);
		-o-box-shadow: 0 2px 0 rgba(136, 136, 136, 0.7);
		box-shadow: 0 2px 0 rgba(136, 136, 136, 0.7);
		padding: 7px 7px 10px 10px;
		margin: 2px 0 0;
	}

	.empty_activity {
		color: #999;
	}
	
	.activity_date_header {
		font-weight: bold;
		border-bottom: 2px solid #e1e1e1;
		border-top: 0;
		line-height: 20px;
		margin-top: 20px;
		margin-bottom: 10px;
		padding-bottom: 4px;
		padding-left: 6px;
	
		& + .log_item {
			border-top: none;
			padding-top: 0;
		}
	
		.first {
			margin-top: 0;
		}
	}
	
	.log_item {
		font-size: 11px;
		border-top: 1px solid #e1e1e1;
		padding-left: 6px;
		padding-top: 4px;	
	
		.log_item_time {
			color: #999;
			display: block;
			float: left;
			min-width: 60px;
		}
	
		a {
			text-decoration: none;
		}
	
		span.deadlog {
			color: black;
		}
	
		// Icons' common styles
		.log_item_icon {
			float: left;
			display: block;
			width: 18px;
			height: 18px;
			margin-right: 8px;	
			overflow: hidden;
			background-size: 390px 64px;
			background-image: url(../../../wp-admin/images/menu-2x.png);
			background-repeat: no-repeat;
		}
		
		&.log_category_users .log_item_icon {
			background-position: -306px -39px;
		}
		
		&.log_category_posts .log_item_icon {
			background-position: -277px -39px;
		}
		
		&.log_category_media .log_item_icon {
			background-position: -126px -39px;
		}
		
		&.log_category_preferences .log_item_icon {
			background-position: -246px -39px;
		}
		
		&.log_category_blogs .log_item_icon {
			background-position: -366px -39px;
		}
		
		&.log_category_posts.log_type_page .log_item_icon {
			background-position: -156px -39px;
		}
		
		&.log_category_comments .log_item_icon {
			background-position: -36px -39px;
		}
		
		&.log_category_appearance .log_item_icon {
			background-position: -6px -39px;
		}
		
	}
	
	.load_more_logs {
		margin-top: 12px;
		text-align: center;
		min-width: 20px;
	}
}